# Week 13 – Review of Multiple Linear Regression and Logistic Regression

- Find the best model given a dependent variable
- Describe the equation of the models
- Evaluate the model (R-squared)
- Create the confusion matrix (logistic regression)

## Libraries

In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Part 1: Linear Regression

In [2]:
# load Auto.csv dataset
auto = pd.read_csv('Auto.csv', na_values='?').dropna()

In [3]:
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

### 1 - Using the correlation matrix and the p-values, find the best linear regression model.

### 2 -  Which variables would be removed from the model, and why?

### 3 - Consider the origin column as a categorical variable where 1 = USA, 2 = Europe, 3 = Japan. Which origin has the greatest impact on fuel consumption (mpg)?

### 4 - What is the equation of the best model found?

In [204]:
#code here

## Part 2: Logistic Regression

In [6]:
#load StudentPerformance.csv dataset
student = pd.read_csv('StudentPerformance.csv')
student

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

### 1 - Considering 'Performance Index' as the dependent variable, create a new column 'approved' where students with Performance Index >= 60 are considered approved (1) and the rest not approved (0). Drop the 'Performance Index' column afterwards.

### 2 - Considering 'approved' as the dependent variable, find the best logistic regression model.

### 3 - Separate the dataset into train and test sets (70% train, 30% test). Calculate the accuracy of the model on the test set.

### 4 - Create the confusion matrix for the test set predictions.

### 5- According with the model which variables are significant to explain if a student is approved or not? Explain based on coefficients.

In [21]:
# code here